body {
    font-family: "Poppins", sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 90px;
}

.layout_padding2 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.layout_padding2-top {
    padding-top: 45px;
}

.layout_padding2-bottom {
    padding-bottom: 45px;
}

.layout_padding-top {
    padding-top: 90px;
}

.layout_padding-bottom {
    padding-bottom: 90px;
}

.heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.heading_container h2 {
    font-weight: bold;
    color: #000000;
    position: relative;
}

/*header section*/
.hero_area {
    position: relative;
}

.sub_page .header_section {
    position: unset;
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(75%, transparent),
        color-stop(75%, #240a5e)
    );
    background: linear-gradient(to right, transparent 75%, #240a5e 75%);
}

.header_section {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
}

.header_section .nav_container {
    margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link img {
    width: 22px;
    margin-right: 15px;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px 25px;
    color: #fefeff;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.custom_menu-btn {
    z-index: 9;
    position: absolute;
    right: 15px;
    top: 14px;
}

.custom_menu-btn button {
    margin-top: 7px;
    outline: none;
    border: none;
    background-color: transparent;
}

.custom_menu-btn span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #fff;
    margin: 7px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.custom_menu-btn .custom_menu-btn .s-2 {
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.menu_btn-style button {
    position: fixed;
    right: 29px;
    top: 14px;
}

.menu_btn-style button .s-1 {
    -webkit-transform: rotate(45deg) translateY(16px);
    transform: rotate(45deg) translateY(16px);
}

.menu_btn-style button .s-2 {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
}

.menu_btn-style button .s-3 {
    -webkit-transform: rotate(-45deg) translateY(-16px);
    transform: rotate(-45deg) translateY(-16px);
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(36, 10, 94, 0.9);
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.overlay .closebtn {
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 60px;
}

.overlay a {
    padding: 2px 0px;
    text-decoration: none;
    font-size: 22px;
    color: #f1f1f1;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-transform: uppercase;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.menu_width {
    width: 100%;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a:hover,
a:focus {
    color: initial;
}

.btn,
.btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.custom_nav-container .nav_search-btn {
    background-image: url(../images/search-icon.png);
    background-size: 18px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
    margin: 0 40px 0 15px;
    background-position: center;
}

.navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-brand span {
    font-size: 24px;
    font-weight: 700;
    color: #fff455;
}

.custom_nav-container {
    z-index: 99999;
    padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
    outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-image: url(../images/menu.png);
    background-size: 55px;
}

.user_option {
    margin-left: auto;
    margin-right: 95px;
}

.user_option a {
    color: #fefdfc;
    font-size: 16px;
}

/*end header section*/
.slider_section .carousel {
    position: unset;
}

.slider_section .slider_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.slider_section .slider_container .img-box {
    -webkit-box-flex: 2.5;
    -ms-flex: 2.5;
    flex: 2.5;
}

.slider_section .slider_container .img-box img {
    width: 100%;
}

.slider_section .slider_container .detail_container {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #ff9a00;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider_section .slider_container .detail_container #carouselExampleControls {
    width: 100%;
}

.slider_section .slider_container .detail_container .detail-box {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
}

.slider_section .slider_container .detail_container .detail-box h1 {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #fefdfc;
    font-size: 3.5rem;
}

.slider_section .slider_container .detail_container .detail-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #fff455;
    color: #000;
    border-radius: 0;
    text-transform: uppercase;
    margin-top: 35px;
}

.slider_section .slider_container .detail_container .detail-box a:hover {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.slider_section .carousel-control-prev,
.slider_section .carousel-control-next {
    width: 50px;
    height: 50px;
    left: 0;
    opacity: 1;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: 20px;
    background-position: center;
    border-radius: 80px;
}

.slider_section .carousel-control-prev {
    top: 15%;
    background-image: url(../images/prev.png);
}

.slider_section .carousel-control-next {
    top: initial;
    bottom: 15%;
    background-image: url(../images/next.png);
}

.about_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about_section .img-box img {
    width: 100%;
}

.about_section .detail-box {
    text-align: center;
}

.about_section .detail-box h2 {
    font-weight: bold;
}

.about_section .detail-box p {
    margin-top: 15px;
}

.about_section .detail-box a {
    display: inline-block;
    padding: 8px 25px;
    background-color: #f22324;
    color: #fefdfc;
    border-radius: #000000;
    border: 1px solid #f22324;
    margin-top: 15px;
}

.about_section .detail-box a:hover {
    background-color: transparent;
    color: #f22324;
}

.best_section {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    padding: 25px 0;
}

.best_section .book_now {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.best_section .book_now .detail-box h2 {
    font-weight: bold;
}

.best_section .book_now .detail-box p {
    margin: 0;
}

.best_section .book_now .btn-box a {
    display: inline-block;
    padding: 10px 60px;
    background-color: #fff455;
    color: #000;
    border-radius: #fff455;
    border: 1px solid #fff455;
}

.best_section .book_now .btn-box a:hover {
    background-color: transparent;
    color: #000;
}

.rent_section {
    background-color: #ff9a00;
}

.rent_section .heading_container h2 {
    color: #6f6e6e;
    margin-bottom: 35px;
}

.rent_section .heading_container h2::first-letter {
    color: #000000;
}

.rent_section .heading_container h2 span {
    color: #2e303c;
}

.rent_section .rent_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.rent_section .rent_container .box {
    width: 340px;
    margin: 15px;
    background-color: #fefdfc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding: 20px 25px;
    padding-bottom: 0;
    border-radius: 5px;
}

.rent_section .rent_container .box .img-box {
    margin: 50px 0;
    height: 92px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.rent_section .rent_container .box .img-box img {
    max-width: 100%;
}

.rent_section .rent_container .box .price a {
    display: inline-block;
    padding: 8px 25px;
    background-color: #f22324;
    color: #fefdfc;
    border-radius: #000000;
    border: 1px solid #f22324;
    font-weight: bold;
}

.rent_section .rent_container .box .price a:hover {
    background-color: transparent;
    color: #f22324;
}

.rent_section .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.rent_section .btn-box a {
    display: inline-block;
    padding: 10px 65px;
    background-color: #fefdfc;
    color: #1a1919;
    border-radius: 0;
    border: 1px solid #fefdfc;
    margin-top: 35px;
}

.rent_section .btn-box a:hover {
    background-color: transparent;
    color: #fefdfc;
}

.us_section .heading_container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.us_section .us_container {
    background-image: url(../images/us-bg.jpg);
    background-size: cover;
}

.us_section .us_container .content_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.us_section .us_container .content_box .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin: 25px;
}

.us_section .us_container .content_box .box .img-box img {
    max-width: 100%;
}

.us_section .us_container .content_box .box .detail-box {
    margin-top: 15px;
}

.us_section .us_container .content_box .box .detail-box h5 {
    color: #fefdfc;
}

.us_section .us_container .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.us_section .us_container .btn-box a {
    display: inline-block;
    padding: 10px 65px;
    background-color: #fefdfc;
    color: #1a1919;
    border-radius: 0;
    border: 1px solid #fefdfc;
    margin-top: 35px;
}

.us_section .us_container .btn-box a:hover {
    background-color: transparent;
    color: #fefdfc;
}

.map_section {
    height: 400px;
}

.map_section .map_container {
    height: 100%;
}

.map_section .map_container .map-responsive {
    height: 100%;
}

/* footer section*/
.footer_section {
    background-color: #ff9a00;
    padding: 20px;
}

.footer_section p {
    margin: 0;
    text-align: center;
    color: #fefdfc;
}

.footer_section a {
    color: #fefdfc;
}
/*# sourceMappingURL=style.css.map */
